.portfolio-item {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.portfolio-item-card {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.portfolio-item-overlay {
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: all .5s ease-in-out;
    transform: translateY(20px);
    cursor: pointer;
}

.portfolio-item-about {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.portfolio-item-img {
	background-color: red;
	width: 500px;
	height: 300px;
}

.portfolio-item-title {
	font-size: 1em;
}

.portfolio-item-description {
	font-size: 1em;
}