.portfolio-section {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.portfolio-section-categories {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5em;
}

.portfolio-section-categories a {
	text-transform: capitalize;
	margin: 10px;
	text-decoration: none;
	color: #000;
}

.portfolio-section-projects {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
}